BODY { 
      background-color:#ffffff;  }
P { 
   font-family:Arial; 
   font-size:12.0pt; 
   color:#000000;  }
LI.kadov-P { 
            font-family:Arial; 
            font-size:12.0pt; 
            color:#000000;  }
H1 { 
    font-weight:bold; 
    font-size:16.0pt; 
    font-family:Verdana, sans-serif; 
    color:#000000;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-size:16.0pt; 
             font-family:Verdana, sans-serif; 
             color:#000000;  }
H2 { 
    font-weight:bold; 
    font-size:14.0pt; 
    font-family:Verdana, sans-serif; 
    color:#000000;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:14.0pt; 
             font-family:Verdana, sans-serif; 
             color:#000000;  }
H3 { 
    font-family:Arial; 
    font-weight:bold; 
    font-size:12.0pt;  }
LI.kadov-H3 { 
             font-family:Arial; 
             font-weight:bold; 
             font-size:12.0pt;  }
H4 { 
    font-family:Arial; 
    font-weight:bold; 
    font-size:12.0pt;  }
LI.kadov-H4 { 
             font-family:Arial; 
             font-weight:bold; 
             font-size:12.0pt;  }
H5 { 
    font-family:Arial; 
    font-weight:bold; 
    font-size:12.0pt;  }
LI.kadov-H5 { 
             font-family:Arial; 
             font-weight:bold; 
             font-size:12.0pt;  }
H6 { 
    font-family:Arial; 
    font-weight:bold; 
    font-size:12.0pt;  }
LI.kadov-H6 { 
             font-family:Arial; 
             font-weight:bold; 
             font-size:12.0pt;  }
A:link { 
        x-text-underline:normal; 
        color:#0000ff; 
        font-family:Verdana, sans-serif; 
        text-decoration:underline;  }
A:visited { 
           x-text-underline:normal; 
           color:#008000; 
           text-decoration:underline;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
