body, html {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #000;
}

/* https://vuejs.org/v2/api/#v-cloak*/
[v-cloak] {
	display: none;
}

#main {}

#left-nav h1 {
    padding: 8px;
    top: 0;
    line-height: 40px;
    font-weight: bold;
    color: #ccc;
    font-size: 16px;
    margin: 0;
}

#left-nav {
	z-index: 100;
	width: 300px;
	position: fixed;
	opacity:.95;
	background-color: rgba(0,0,0,0.5);
}
#left-nav h2 {
	padding: 10px;
	color: #ccc;
	margin: 0;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

#maps {
	margin: 0;
	padding: 0;
}
#maps>li {
	list-style: none;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}
#maps>li>span {
	display: block;
}
#maps>li>span:hover {
	color: #fff;
}

ul.map-layers {
	margin:0;
	padding:0;
	list-style: none;
}
ul.map-layers>li {
	list-style: none;
	color: #ccc;
	padding: 10px 10px 10px 0;
	border-radius: 3px;
	cursor: pointer;
}
ul.map-layers li:hover {
	color: #fff;
}
ul.map-layers li span {
    width: 0.25em;
    height: 1em;
    display: inline-block;
    border-radius: .5em;
    margin-right: .5em;
    border: 1px;
}