body, html {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #000;
}

/* https://vuejs.org/v2/api/#v-cloak*/
[v-cloak] {
	display: none;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
.hide {
	display: none;
}
.btn {
	color: #ccc;
	background-color: rgba(0,0,0,0.5);
	display: block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid #444;
	border-radius: 4px;
}
.btn:hover {
	border-color: #666;
	color: #eee;
}
.btn .dot{
	border-radius:2px;
	width:8px;
	height:8px;
	display:inline-block;
	background-color:#333;
	margin-right: 6px;
}
.btn.active .dot{
	background-color: #259b24;	
}

#map canvas {
	/*cursor: crosshair;*/
}
#left-nav {
	z-index: 100;
	width: 300px;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-flow: column;
	height:100%;
}
	#left-nav #left-nav-header {
		flex: 0 1 auto;
	}
	#left-nav #toggle-feature-inspector {

	}
	#left-nav h1 {
		padding: 8px;
		top: 0;
		line-height: 40px;
		font-weight: bold;
		color: #ccc;
		font-size: 16px;
		margin: 0;
	}
	#left-nav h2 {
		padding: 10px;
		color: #ccc;
		margin: 0;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
	}
	#left-nav .container {
		width: 100%;
		flex: 1 1 auto;
		overflow-y: scroll;
	}
	#maps {
		margin: 0;
		padding: 0;
		font-size: 14px;
		height:100%;
	}
		#maps>li {
			list-style: none;
			color: #ccc;
			padding: 10px;
			border-radius: 3px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		#maps>li>span {
			display: block;
		}
		#maps>li>span:hover {
			color: #fff;
		}

		ul.map-layers {
			margin:0;
			padding:0;
			list-style: none;
		}
		ul.map-layers li {
			list-style: none;
			color: #ccc;
			padding: 10px 10px 10px 0;
			border-radius: 3px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		ul.map-layers li:hover {
			color: #fff;
		}
		ul.map-layers li span {
			width: 0.25em;
			height: 1em;
			display: inline-block;
			border-radius: .5em;
			margin-right: .5em;
			border: 1px;
		}
	#left-nav #left-nav-footer {
		flex: 0 1 40px;
	}

.mapboxgl-popup-content {
	position: relative;
	background-color: rgba(0,0,0,0.75);
	color: #ccc;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    padding: 10px;
    pointer-events: auto;	
}
.mapboxgl-popup-content h4 {
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #ccc;
}
.mapboxgl-popup-content ul {
	margin: 0 0 1em 0;
	list-style: none;
	padding: 0;
}
.mapboxgl-popup-content ul>li {
	list-style: none;
	padding: 0;
}
.mapboxgl-popup-content ul:last-child {
	margin-bottom: 0;
}